* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

li{font-family: 'Lucida Sans';}
h1{font-family: 'Lucida Sans';}
nav ul{list-style: none;}

a{
    text-decoration: none;
    color:var(--color-font1);
    font-weight: 900;
    transition: color 0.3s;
    font-size: 2rem;
    text-transform: uppercase;
}

a:hover{
    color:var(--color-font4);
}

header {
  background-color:rgba(0, 0, 0, 0.4);
  align-items: center;
  color: rgb(255, 255, 255);
  padding: 20px;
  width: 90%;
  border-radius: 15px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  z-index: 3;
  margin-top: 20px;
}

header h1{
    font-size: 4rem;
    position: relative;
}

.header-menu{
  display: flex;
  justify-content: space-between;
  gap: 30px;
  color: aliceblue;
}

span{
   color: rgb(207, 2, 2);
}


body{
   background-image: url('../assets/imgs/Tesla.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   justify-items: center;
   align-items: center;
}

section {
    padding-top: 15rem;
    max-width: 600px;
    border-radius: 8px;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#title{
  color:white;

}

section input[type="text"],
section input[type="number"],
section input[type="email"] {
    padding: 15px;
    border: 1px solid #ffffff;
    border-width: 2px;
    border-radius: 10px;
    font-size: 1em;
    flex-grow: 1; 
    background-color: transparent;
}

section input[type="text"]:last-child {
    flex-grow: 2; /* Para o campo de mensagem ser maior */
    height: 100px;
    resize: vertical;
}

section > div {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

section input[type="button"] {
    background-color: #aa0000;
    color: rgba(255, 255, 255, 0);
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}
section input[type="button"]:hover {
    background-color: #0057b3;
}

footer{
  width: 100%;
    text-align: center;
    gap: 20px;
    padding: 20px;
    color: white;
    background-color: black;
    justify-content: center;
}

footer ul li{
    list-style: none;
    padding: 10px;
    font-size: 1.5rem;
}

.display{
    height:20vh;
    border-bottom: groove 1px;
    padding:10px;
}
#display2{
    width:100%;
    display: flex;
    height:20vh;
    padding:10px;
    justify-content: space-between;
}

#titulo_footer{
    font-family: 'Lucida Sans';
    color: #fff;
    font-size:2rem;
}

#navegacao{
    display: flex;
    width: 40%;
    padding: 20px;
    gap: 20px;
}